### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine, text

### Connecting to SQL

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:12345@localhost:5432/postgres')
connection = engine.connect()

In [3]:
gdp_per_capita = pd.read_csv("../data/gdp_per_capita.csv")
gdp_per_capita.to_sql("gdp", con = engine, if_exists= 'replace', index = True)

192

In [4]:
employment = pd.read_csv("../data/employment_to_population_ratio.csv")
employment.to_sql("employment", con = engine, if_exists = 'replace', index = True)

192

In [5]:
gdp_growth = pd.read_csv("../data/gdp_growth.csv")
gdp_growth.to_sql("gdp_growth", con = engine, if_exists= 'replace', index = True)

192

### Data cleaning

In [6]:
cleaned_gdp = pd.read_sql('''
SELECT *
FROM gdp
WHERE country IS NOT NULL AND date IS NOT NULL AND gdp_per_capita IS NOT NULL''', connection)
cleaned_gdp.to_sql('cleaned_gdp', con = engine, if_exists= 'replace', index = False)
cleaned_gdp.to_csv("../data/cleaned_gdp.csv")

In [7]:
cleaned_employment = pd.read_sql('''
SELECT *
FROM employment
WHERE country IS NOT NULL AND date IS NOT NULL AND employment IS NOT NULL''', connection)
cleaned_employment.to_sql('cleaned_employment', con=engine, if_exists='replace', index=False)
cleaned_employment.to_csv("../data/cleaned_employment.csv")

In [8]:
cleaned_growth = pd.read_sql('''
SELECT *
FROM gdp_growth
WHERE country IS NOT NULL AND date IS NOT NULL AND gdp_growth IS NOt NULL''', connection)
cleaned_growth.to_sql('cleaned_growth', con = engine, if_exists = 'replace', index = False)
cleaned_growth.to_csv("../data/cleaned_growth.csv")

### Descriptive Statistics

#### GDP per capita

In [9]:
pd.read_sql('''
SELECT country,
       AVG(gdp_per_capita) as mean_gdp_per_capita, 
       MIN(gdp_per_capita) as min_gdp_per_capita, 
       MAX(gdp_per_capita) as max_gdp_per_capita
FROM cleaned_gdp
GROUP BY country;''', connection)

         country  mean_gdp_per_capita  min_gdp_per_capita  max_gdp_per_capita
0  United States         40544.675171        18991.544603        65020.352929
1         Canada         32142.266458        15432.471783        45227.144735
2         Mexico          8090.352539         4197.982290        10343.353430

#### Employment

In [10]:
pd.read_sql('''
SELECT country,
       AVG(employment) as mean_employment_ratio, 
       MIN(employment) as min_employment_ratio, 
       MAX(employment) as max_employment_ratio
FROM cleaned_employment
GROUP BY country;''', connection)

,country,mean_employment_ratio,min_employment_ratio,max_employment_ratio
0,United States,60.229606,56.380,63.297
1,Canada,60.898030,57.836,63.317
2,Mexico,57.642939,53.977,59.782

In [11]:
pd.read_sql('''
SELECT country,
       AVG(gdp_growth) as mean_gdp_growth, 
       MIN(gdp_growth) as min_gdp_growth, 
       MAX(gdp_growth) as max_gdp_growth
FROM cleaned_growth
GROUP BY country;''', connection)

         country  mean_gdp_growth  min_gdp_growth  max_gdp_growth
0  United States         2.997878       -2.576500        7.236453
1         Canada         3.027362       -5.038233        7.427837
2         Mexico         3.570023       -8.624556       11.905481